// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown-btn {
  position: relative;  
}

#gear-dropdown {
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 2;
    background-color: white;
    width: 275px;
    border: 1px solid $light-gray;
    border-radius: 1px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    font-weight: normal;
    font-family: arial;
    color: $gray;
    padding: 10px;
}
.dropdown-subtitle {
  display: block;
  flex: left;
  // padding: 10px;
  color: $dark-gray;
  font-weight: bold;
}

.editions li {
  flex: left;
  padding: 10px 0;
  
}

li > span {
    border-top: 1px solid $light-gray;
    padding: 10px 0;
}
.editions li:hover {
    background-color: $light-gray;
}

.help li {
  flex: left;
  padding: 10px 0;
  color: $blue;
}

.help li:hover {
  text-decoration: underline;
}